*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/* INTRO */

.intro {
    background-image: url("img/intro_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 195px;
}

.logo a {
    text-decoration: none;
}

.active {
    opacity: 0.5;
    font-family: Raleway, serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.box {
    font-family: Raleway, serif;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 195px;
}

.navigation a {
    font-family: Raleway, serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-right: 60px;
}

.navigation a:hover {
    opacity: 0.5;
    transition: opacity 0.3s linear;
}

.navigation a:last-child {
    margin-right: 0;
}

.intro_item .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_title {
    text-align: center;
    font-family: OpenSans, sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.intro_text {
    text-align: center;
    font-family: Raleway, serif;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 80px;
    letter-spacing: 2px;
}

.intro_button,
.intro_button:active,
.intro_button:focus {
    font-family: Raleway, serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e84545;
    border-radius: 2px;
    outline: none;
    border-style: none;
    cursor: pointer;
    padding: 20px 50px;
    margin-bottom: 160px;
}

.intro_button:hover {
    transition: all 0.5s linear;
    background-color: #ffffff;
    color: #e84545;
}

/* FEATURES */

.features {
    margin-top: 120px;
    margin-bottom: 120px;
}

.features_first__line,
.features_second__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features_second__line {
    margin-top: 80px;
}

.pencil,
.tv,
.lamp,
.universe,
.bag,
.cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.pencil_title,
.tv_title,
.lamp_title,
.universe_title,
.bag_title,
.cloud_title {
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #e84545;
    margin-top: 35px;
    margin-bottom: 25px;
}

.pencil_text,
.tv_text,
.lamp_text,
.universe_text,
.bag_text,
.cloud_text {
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c7279;
}

/* WORK */

.work {
    display: flex;
    flex-wrap: wrap;
    background-color: #3a3e64;
}

.work_item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.work_item img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.work_content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.work_content:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.work_title {
    font-family: Raleway, serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
}

.work_text {
    font-family: Raleway, serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

/* TEAM */
.team .container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.team_title {
    margin-top: 30px;
    font-family: Raleway, serif;
    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.team_subtitle {
    font-family: Raleway, serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
    margin-top: 10px;
}

.team_text {
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c7279;
    margin-top: 25px;
}

.team_social {
    margin-top: 30px;
    margin-bottom: 100px;
}

.team_social a {
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    color: #c6cacc;
    text-decoration: none;
    padding: 15px;
}

.team_social a:hover {
    background-color: #c6cacc;
    color: #ffffff;
    transition: all 0.5s linear;
}

/* CLIENT */

.client {
    background-color: #53354a;
    display: flex;
    flex-direction: row;
}

.client_photo {
    background-image: url("img/client.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 50%;
}

.client_item {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 130px;
    margin-left: 83px;
    margin-bottom: 110px;
}

.client_text {
    font-family: Raleway, serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
}

.client_subtitle {
    font-family: Raleway, serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 30px;
}

.client_control {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    margin-left: 200px;
}

.client_control_link {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    opacity: 0.2;
    background-color: #ffffff;
    margin-right: 10px;
}

.client_control_link:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}